<p id="notice"><%= notice %></p>

<p>
  <strong>Check in:</strong>
  <%= @reservation.check_in %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<p>
  <strong>Total Price:</strong>
  <%= @reservation.total %>
</p>

<%= flash[:alert] %>
<form id="checkout" method="post" action="/reservations/<%= @reservation.id %>/checkout">
  <div id="payment-form"></div>
  <input type="submit" class= "btn btn-info" value="Pay RM <%= @reservation.total %>">
</form>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).
var clientToken = "<%= @braintree_token%>";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
</script>
